@import url(./color.less);
@import url(./size.less);

.mp-check {
  display: flex;

  .ring {
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border: 1px solid @grey2;
    border-radius: 50%;
    margin-right: 10px;
  }

  .icon-check-check {
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }
}