.icon-input-close {
  display: inline-block;
  background: url(../images/svg/input/close.svg) no-repeat center center/100%;
}

.icon-upload-helper-add {
  display: inline-block;
  background: url(../images/svg/upload-helper/add.svg) no-repeat center center/100%;
}

.icon-image-upload-uploading {
  display: inline-block;
  background: url(../images/svg/image-upload/uploading.svg) no-repeat center center/100%;
}

.icon-image-upload-fail {
  display: inline-block;
  background: url(../images/svg/image-upload/fail.svg) no-repeat center center/100%;
}

.icon-text-triangle {
  display: inline-block;
  background: url(../images/svg/text/triangle.svg) no-repeat center center/100%;
}

.icon-check-check {
  display: inline-block;
  background: url(../images/svg/check/check.svg) no-repeat center center/100%;
}

.icon-message-success {
  display: inline-block;
  background: url(../images/svg/message/success.svg) no-repeat center center/100%;
}

.icon-message-fail {
  display: inline-block;
  background: url(../images/svg/message/fail.svg) no-repeat center center/100%;
}

.icon-message-tip {
  display: inline-block;
  background: url(../images/svg/message/tip.svg) no-repeat center center/100%;
}

.icon-message-close {
  display: inline-block;
  background: url(../images/svg/message/close.svg) no-repeat center center/100%;
}